<p><span style="font-size:x-large"><strong>Ravi Teja Nannipamula</strong></span></p>

<p>&nbsp;</p>

<ul>
	<li>
	<p><span style="font-size:small"><span style="font-size:medium">Overall </span><span style="font-size:medium"><strong>6 years </strong></span><span style="font-size:medium">of experience in </span><span style="color:#000009"><span style="font-size:medium"><strong>.NET and .NET Core</strong></span></span><span style="color:#000009"><span style="font-size:medium"><strong> </strong></span></span><span style="color:#000009"><span style="font-size:medium"><strong>Technologies.</strong></span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="font-size:medium">Expert in </span><span style="font-size:medium"><strong>C#.NET </strong></span><span style="color:#000009"><span style="font-size:medium">Programming Language</span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="font-size:medium">Expert Knowledge of </span><span style="color:#000009"><span style="font-size:medium">Web Technologies such as </span></span><span style="color:#000009"><span style="font-size:medium"><strong>MVC, ASP.NET, WEB</strong></span></span><span style="color:#000009"><span style="font-size:medium"><strong> </strong></span></span><span style="color:#000009"><span style="font-size:medium"><strong>API, JavaScript, Ajax and</strong></span></span><span style="color:#000009"><span style="font-size:medium"><strong> </strong></span></span><span style="color:#000009"><span style="font-size:medium"><strong>Jquery.</strong></span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="font-size:medium">Expert Knowledge of </span><span style="color:#000009"><span style="font-size:medium">Data Access Model such as </span></span><span style="color:#000009"><span style="font-size:medium"><strong>ADO.NET, Entity Framework and Linq to Sql,</strong></span></span><span style="color:#000009"><span style="font-size:medium"><strong> </strong></span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="font-size:medium">Expertise </span><span style="color:#000009"><span style="font-size:medium">in </span></span><span style="color:#000009"><span style="font-size:medium"><strong>MS SQL Server</strong></span></span><span style="color:#000009"><span style="font-size:medium"><strong> </strong></span></span><span style="color:#000009"><span style="font-size:medium">database</span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="font-size:medium">Expert in </span><span style="font-size:medium"><strong>LINQ.</strong></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="font-size:medium">Knowledge on </span><span style="font-size:medium"><strong>AZURE(Blob Storage,Azure Elastic Search)</strong></span><span style="font-size:medium"><strong>, Tableau, </strong></span><span style="color:#000009"><span style="font-size:medium"><strong>WCF (REST), WPF,</strong></span></span><span style="color:#000009"><span style="font-size:medium"><strong> </strong></span></span><span style="color:#000009"><span style="font-size:medium"><strong>Angular</strong></span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="font-size:medium">Strong understanding of OOPS</span><span style="font-size:medium"> </span><span style="font-size:medium">Concepts.</span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="font-size:medium">Experience in </span><span style="color:#000009"><span style="font-size:medium"><strong>NUnit </strong></span></span><span style="font-size:medium">for Unit</span><span style="font-size:medium"> </span><span style="font-size:medium">Tesing.</span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="color:#000009"><span style="font-size:medium">Basic knowledge of and </span></span><span style="font-size:medium">React</span><span style="font-size:medium"> </span><span style="font-size:medium">JS.</span></span></p>
	</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li>
	<ul>
		<li>
		<p><span style="font-size:small"><span style="font-size:medium"><em><strong>Btech </strong></em></span><span style="font-size:medium"><em><strong>(ECE)</strong></em></span></span></p>
		</li>
	</ul>
	</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<table cellpadding="0" cellspacing="0" style="width:789px">
	<tbody>
		<tr>
			<td colspan="4" style="vertical-align:top">
			<p><span style="font-size:small"><span style="color:#ffffff"><span style="font-size:large"><strong>Technical Skills</strong></span></span></span></p>
			</td>
		</tr>
		<tr>
			<td colspan="4" style="vertical-align:top">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="9">
			<p>&nbsp;</p>
			</td>
			<td>
			<p><span style="font-size:small"><span style="color:#ffffff"><span style="font-size:medium">Technologies</span></span></span></p>
			</td>
			<td>
			<p><span style="font-size:small"><span style="color:#000009"><span style="font-size:medium">.NET &amp; .NET CORE</span></span></span></p>
			</td>
			<td rowspan="9">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:small"><span style="color:#ffffff"><span style="font-size:medium">Programming Language</span></span></span></p>
			</td>
			<td>
			<p><span style="font-size:small"><span style="font-size:medium">C#.NET</span></span></p>
			</td>
		</tr>
		<tr>
			<td rowspan="2">
			<p>&nbsp;</p>

			<p><span style="font-size:small"><span style="color:#ffffff"><span style="font-size:medium">Web Technologies</span></span></span></p>
			</td>
			<td>
			<p><span style="font-size:small"><span style="font-size:medium">MVC, ASP.NET, WCF(REST), Web API,</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:small"><span style="font-size:medium">JavaScript, Jquery, WCF, WPF</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:small"><span style="color:#ffffff"><span style="font-size:medium">Data Access Model</span></span></span></p>
			</td>
			<td>
			<p><span style="font-size:small"><span style="font-size:medium">ADO.NET, Entity framework, Linq to Sql</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:small"><span style="color:#ffffff"><span style="font-size:medium">Databases</span></span></span></p>
			</td>
			<td>
			<p><span style="font-size:small"><span style="color:#000009"><span style="font-size:medium">MS SQL Server, T/Sql</span></span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:small"><span style="color:#ffffff"><span style="font-size:medium">Testing Tool</span></span></span></p>
			</td>
			<td>
			<p><span style="font-size:small"><span style="color:#000009"><span style="font-size:medium">NUnit</span></span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:small"><span style="color:#ffffff"><span style="font-size:medium">Development Environment</span></span></span></p>
			</td>
			<td>
			<p><span style="font-size:small"><span style="color:#000009"><span style="font-size:medium">Visual Studio 2017 &amp; 2019</span></span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:small"><span style="color:#ffffff"><span style="font-size:medium">Operating System</span></span></span></p>
			</td>
			<td>
			<p><span style="font-size:small"><span style="font-size:medium">Windows</span></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<table cellpadding="1" cellspacing="0" style="width:788px">
	<tbody>
		<tr>
			<td>
			<p><span style="font-size:small"><span style="color:#ffffff"><span style="font-size:medium"><strong>PROJET-1</strong></span></span></span></p>
			</td>
			<td>
			<p><span style="font-size:small"><span style="font-size:medium"><strong>RAPID TOOL</strong></span></span></p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td rowspan="2">
			<p><span style="font-size:small"><span style="color:#ffffff"><span style="font-size:medium"><strong>TECHNOLOGIES</strong></span></span></span></p>
			</td>
			<td>
			<p><span style="font-size:small"><span style="color:#000009"><span style="font-size:medium">.NET , C#, Web API, Linq,</span></span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:small"><span style="color:#000009"><span style="font-size:medium">PL/SQL, JavaScript, Ajax, Jquery, HTML,</span></span></span></p>

			<p><span style="font-size:small"><span style="color:#000009"><span style="font-size:medium">CSS, Bootstrap</span></span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:small"><span style="color:#ffffff"><span style="font-size:medium"><strong>ROLE</strong></span></span></span></p>
			</td>
			<td>
			<p><span style="font-size:small"><span style="color:#000009"><span style="font-size:medium">Team Lead</span></span></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<h1><span style="color:#1f4e79">OVERVIEW</span><span style="color:#1f4e79"><em>:</em></span></h1>

<p><span style="font-size:small"><span style="color:#202124"><span style="font-size:medium">Azure Rapid Upload Tool is used to store the Data in an Azure container in secured way. Data movement is done using secured way, using Shared Access Signature (SAS) token key from Local Storage Path or Source Blobs, which contains the metadata of files. There is no limitation on file types that needs to be moved.</span></span></span></p>

<p><span style="font-size:small"><span style="color:#202124"><span style="font-size:medium">To transfer huge volume of Data from Local Storage to Azure Cloud, we used AzCopy (Command-line utility) in C# Code with User friendly. </span></span></span></p>

<ul>
	<li>
	<p><span style="font-size:small"><span style="color:#202124"><span style="font-size:medium">Scheduler &ndash; End User can schedule the Upload time </span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="color:#202124"><span style="font-size:medium">Start &amp; Stop at any point of time without any data loss.</span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="color:#202124"><span style="font-size:medium">Improved Performance with 500 million data within 3 hours.</span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="color:#202124"><span style="font-size:medium">Secure data upload </span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="color:#202124"><span style="font-size:medium">SAS token will be generated by using account Name &amp; Key within the application itself.</span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="color:#202124"><span style="font-size:medium">SAS token expiry time will be managed dynamically within the application setup</span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="color:#202124"><span style="font-size:medium">On the fly data upload progress can be monitored </span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="color:#202124"><span style="font-size:medium">User Dashboard post data upload - % of Completion &amp; Files Count info </span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="color:#242424"><span style="font-family:Calibri,serif"><span style="font-size:medium">The RAPID TOOL option first which is windows folder to blob upload, its perform the activity to upload the files from source (local/ source) to blob storage platform, which is Azure (destination)</span></span></span><span style="font-size:medium">.</span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="font-family:Calibri,serif"><span style="font-size:medium">This activity will be perform using SasKey Token Authentication to Upload the Blob Files From Source To Destination</span></span><span style="font-size:medium">.</span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="font-size:medium">Developing database processes with</span><span style="font-size:medium"> </span><span style="font-size:medium">PL/SQL.</span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="font-size:medium">Involved in development and implementation of Rapid Tool application solutions for various business units across the</span><span style="font-size:medium"> </span><span style="font-size:medium">organization.</span></span></p>
	</li>
</ul>

<p>&nbsp;</p>

<h1>&nbsp;</h1>

<h1>&nbsp;</h1>

<h1>&nbsp;</h1>

<h1>&nbsp;</h1>

<h1>&nbsp;</h1>

<h1>&nbsp;</h1>

<h1>&nbsp;</h1>

<h1>&nbsp;</h1>

<h1>&nbsp;</h1>

<h1><span style="color:#1f4e79">ROLE</span><span style="font-size:small">:</span></h1>

<ul>
	<li>
	<p><span style="font-size:small"><span style="font-size:medium">Work as a Team Lead to provide timely and accurate estimates for development solutions</span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="font-size:medium">Handling clients to understand new business requirements and enhances provide</span><span style="font-size:medium"> </span><span style="font-size:medium">estimations</span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="font-size:medium">Provide sufficient user stories and acceptance conditions for developers to</span><span style="font-size:medium"> </span><span style="font-size:medium">contribute</span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="font-size:medium">Involved in Analysis, designing and developing the</span><span style="font-size:medium"> </span><span style="font-size:medium">requirements.</span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="font-size:medium">Communicating with the client on daily basis through call for sharing the ideas and work</span><span style="font-size:medium"> </span><span style="font-size:medium">progresses.</span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="font-size:medium">Worked on Sprint basis mostly in development</span><span style="font-size:medium"> </span><span style="font-size:medium">cards.</span></span></p>
	</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li>
	<p><span style="font-size:small"><span style="font-size:medium">Preparing various technical documents for</span><span style="font-size:medium"> </span><span style="font-size:medium">Clients.</span></span></p>
	</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li>
	<p><span style="font-size:small"><span style="font-size:medium">Working with designers in design ideation and</span><span style="font-size:medium"> </span><span style="font-size:medium">reviews</span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="font-size:medium">Ability to learn &amp; develop using new technologies</span><span style="font-size:medium"> </span><span style="font-size:medium">quickly.</span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="font-size:medium">Project monitoring and working on incidents in all the</span><span style="font-size:medium"> </span><span style="font-size:medium">applications.</span></span></p>
	</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<table cellpadding="1" cellspacing="0" style="width:739px">
	<tbody>
		<tr>
			<td>
			<p><span style="color:#ffffff"><span style="font-size:small"><span style="font-size:medium"><strong>PROJECT-2</strong></span></span></span></p>
			</td>
			<td>
			<p><span style="font-size:small"><span style="font-size:medium"><strong>DICOM: Medical Project</strong></span></span></p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td rowspan="2">
			<p><span style="font-size:small"><span style="color:#ffffff"><span style="font-size:medium"><strong>TECHNOLOGIES</strong></span></span></span></p>
			</td>
			<td>
			<p><span style="font-size:small"><span style="color:#000009"><span style="font-size:medium">C#.NET, Entity Framework, Linq, Web API</span></span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:small"><span style="color:#000009"><span style="font-size:medium">Sql, .Net Core</span></span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:small"><span style="color:#ffffff"><span style="font-size:medium"><strong>ROLE</strong></span></span></span></p>
			</td>
			<td>
			<p><span style="font-size:small"><span style="color:#000009"><span style="font-size:medium">Senior Software Developer</span></span></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<h1><span style="color:#1f4e79">OVERVIEW:</span></h1>

<p><span style="font-size:small"><span style="color:#000000"><span style="font-size:small">Experienced on DICOM based application development, experienced in windows and Web based applications development for medical/ Radiology/Cardiology departments.Experience working in a regulated environment, especially healthcare, would be an asset including experience with standards such as DICOM.</span></span></span></p>

<p><span style="color:#000000"><span style="font-size:small"><span style="font-size:small">DICOM stands for Digital Imaging and Communications in Medicine. DICOM is a standard that establishes rules that allow medical images and associated information to be exchanged between imaging equipment from different vendors, computers, and hospitals. A computed tomography (CT) scanner produced by vendor A and a magnetic resonance imaging (MRI) scanner produced by vendor B can send images to a PACS from vendor C using DICOM as a common language. In addition to storing image information, other DICOM standard services include query/retrieve, print management, scheduling of acquisition and notification of completion, and security profiles.</span></span></span></p>

<h1><span style="color:#1f4e79">ROLE</span><span style="font-size:small">:</span></h1>

<p>&nbsp;</p>

<ul>
	<li>
	<p><span style="font-size:small"><span style="color:#181717"><span style="font-size:small">Perform project design and development activities according to customer specifications.</span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="color:#181717"><span style="font-size:small">Work with Manager in developing project plan.</span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="color:#181717"><span style="font-size:small">Follow company policies and safety regulations for operational efficiency.</span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="color:#181717"><span style="font-size:small">Research and recommend new technologies to carry out project development tasks</span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="color:#181717"><span style="font-size:small">perform peer reviews and provide feedback for improvements</span></span></span></p>
	</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<table cellpadding="1" cellspacing="0" style="width:736px">
	<tbody>
		<tr>
			<td>
			<p><span style="color:#ffffff"><span style="font-size:small"><span style="font-size:medium"><strong>PROJECT - 3</strong></span></span></span></p>
			</td>
			<td>
			<p><span style="font-size:small"><span style="font-size:medium"><strong>SITUX</strong></span></span></p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td rowspan="2">
			<p><span style="font-size:small"><span style="color:#ffffff"><span style="font-size:medium"><strong>TECHNOLOGIES</strong></span></span></span></p>
			</td>
			<td>
			<p><span style="font-size:small"><span style="color:#000000"><span style="font-size:small">C#, ADO.NET, LINQ, Oledb,</span></span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:small"><span style="color:#000000"><span style="font-size:small">SQL Server 2014, VS-2013-2019</span></span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:small"><span style="color:#ffffff"><span style="font-size:medium"><strong>ROLE</strong></span></span></span></p>
			</td>
			<td>
			<p><span style="font-size:small"><span style="color:#000009"><span style="font-size:medium">Team Member(Application Developer)</span></span></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<h1><span style="color:#1f4e79">OVERVIEW</span><span style="color:#1f4e79"><em>:</em></span></h1>

<p>&nbsp;</p>

<p><span style="font-size:small"><span style="color:#000000"><span style="font-size:medium">End point of Data Conversion project is </span></span><span style="color:#000000"><span style="font-size:medium"><strong>SITUX</strong></span></span><span style="color:#000000"><span style="font-size:medium"> through which the customer or institution easily perform name and property searches, retrieve document images and property location. Simple design belies a powerful versatility that provides you a broad range of options. You can perform specialized searches, construct title chains from name and geographically-posted plants, process search requests and retrieve images with ease.</span></span></span></p>

<p>&nbsp;</p>

<h1><span style="color:#1f4e79">ROLE</span><span style="font-size:small">:</span></h1>

<ul>
	<li>
	<p><span style="font-size:small"><span style="color:#000000"><span style="font-size:small">Handling Individual Projects and team projects</span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="color:#000000"><span style="font-size:small">Using Regular Expressions for selecting particular data</span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="color:#000000"><span style="font-size:small">Writing C#.Net logic to Processing Data</span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="color:#000000"><span style="font-size:small">Generating output in .txt file format.</span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="color:#000000"><span style="font-size:small">Dumping the data into database using SSIS Packages.</span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="color:#000000"><span style="font-size:small">Creating various Stored Procedures to verify the generated output.</span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="color:#000000"><span style="font-size:small">Performing manual and template checking of processed data.</span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="color:#000000"><span style="font-size:small">Attending the daily team meetings.</span></span></span></p>
	</li>
	<li>
	<p><span style="font-size:small"><span style="color:#000000"><span style="font-size:small">Reporting progress to the Project Manager.</span></span></span></p>
	</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>
