

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/ckeditor/ckeditor.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<form>
    <textarea id="editor"></textarea>
</form>
<script>
    $(document).ready(function () {
        CKEDITOR.replace('editor');
    });
</script>