
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/ckeditor/ckeditor.js"></script>

<form>
    <textarea id="editor"></textarea>
</form>
<script>
    CKEDITOR.Replace('editor');
</script>